@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.App {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: auto;
  min-width: 300px;
}
h1 {
  font-size: 2.1em;
}
