@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.App {
  font-family: "Lato", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: 90px auto auto auto auto;
  grid-template-rows: calc(1.5em + 0.75rem + 5px);
  grid-gap: 2px 2px;
}
